.portfolio-home__header {
    color: $lime;
    font-weight: lighter;
    letter-spacing: 0.05rem;
}
.portfolio-home__icon {
    font-size: 1.4rem;
}
.portfolio-home__gallery {
    @include portfolio-home-content-background;
    color: $off-white;
}
.portfolio-home__gallery__header {
    color: $lime;
    font-weight: lighter;
    letter-spacing: 0.05rem;
}
.portfolio-home__bio-container {
    min-height: 80vh;
    overflow: hidden;
    position: relative;
}
