$tile-height: 400px;
$animation-duration: .25s;

.portfolio-items__tile {
    background: none;
    border: 1px solid $lime;
    border-radius: 5px;
    height: $tile-height;
    overflow: hidden;
    position: relative;
}   
.portfolio-items__tile__thumbnail {
    background-size: cover;
    background-position: center;
    height: 100%;
    transform: scale(1.02);
    transition: transform $animation-duration ease-out;
    width: 100%;
}
.portfolio-items__tile__mask {
    background: $black-translucent;
    bottom: 0;
    height: $tile-height;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity $animation-duration ease-out;
}
.portfolio-items__tile__label {
    background: $lime;
    color: $black;
    bottom: 0;
    color: $navy;
    position: absolute;
    transform: translateY(100%);
    transition: transform $animation-duration ease-out;
}
.portfolio-items__tile__caption {
    font-size: 0.8rem;
    opacity: 0;
    transition: height $animation-duration ease-out, opacity $animation-duration;
}
.portfolio-items__tile__cursor {
    animation: click 2s infinite;
    transform-origin: 20% 20%;
}

.portfolio-items__tile:hover {
    .portfolio-items__tile__thumbnail {
        transform: scale(1);
    }
    .portfolio-items__tile__label {
        transform: translateY(0);
    }
    .portfolio-items__tile__caption {
        opacity: 1;
    }
    .portfolio-items__tile__mask {
        opacity: 1;
    }
}


@keyframes click {
    0%, 49% {
        transform: scale(0.9);
    }
    50%, 100% {
        transform: scale(1);
    }
}