.link {
    background: none;
    border: none;
    color: $lime;
    word-break: break-all;
    text-decoration: underline;

    &:link, &:visited {
        color: $lime;
    }
    &:hover {
        color: lighten($lime, 20%);
    }
    &:active {
        color: $lime;
    }
}
