.portfolio-item__header, .portfolio-item__footer {
    background: $black;
    color: $white;
}
.portfolio-item__urls {
    background: $navy;
}
.portfolio-item__project-subheader {
    color: $grey;
    font-size: 0.7rem;
    letter-spacing: 10px;
}
.portfolio-item {
    video, img {
        border: 1px solid $grey;
        width: 100%;
    }
}
.portfolio-item__tag-icon {
    font-size: 1.2rem;
}
.portfolio-item__assets {
    background: linear-gradient(180deg, $snow-white 0%, $off-white 15%, $off-white 100%);
}
.portfolio-item__overview, .portfolio-item__lessons {
    animation: slide-up 1s ease-out forwards;
}
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
