.portfolio-home-bio-background__overlay {
    background: $white;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.portfolio-home-bio-background__video video {
    min-height: calc(100% + 10vh);
    left: 0;
    position: absolute;
    top: -10vh;
    min-width: 100%;
}

.portfolio-home-bio-background__frame {
    animation: frame-slide-in 8s cubic-bezier(0, 0.55, 0.45, 1) forwards;
    transform-origin: 100% 100%;

    @media (min-width: $breakpoint-lg) {
        border: none;
        height: 80%;
        position: absolute;
        right: 0;
        top: 0;
    }
}
@keyframes frame-slide-in {
    from {
        transform: translate(5%, -15%) scale(0.95, 0.95);
    }
    to {
        transform: translate(0, 0) scale(1, 1);
    }
}
