.portfolio-home__gallery {
    background: $gunmetal;
    color: $off-white;
}
.portfolio-home__gallery__header {
    color: $lime;
    font-weight: lighter;
    letter-spacing: 0.05rem;
}
.portfolio-home__bio-container {
    position: relative;
    overflow: hidden;
}
