.portfolio-home__gallery {
    background: $gunmetal;
    background: linear-gradient(180deg, rgba(22,24,31,1) 0%, rgba(24,30,45,1) 11%, rgba(24,30,45,1) 100%);
    color: $off-white;
}
.portfolio-home__gallery__header {
    color: $lime;
    font-weight: lighter;
    letter-spacing: 0.05rem;
}
.portfolio-home__bio-container {
    position: relative;
    overflow: hidden;
}
