// colours
$black: #000000;
$black-translucent: #00000066;
$light-black: #16181f;
$charcoal: #3c3c3c;
$gunmetal: #181e2d;
$navy: #1a2234;
$dark-grey: #586069;
$grey: #8695aa;
$light-grey: #cccccc;
$lime: #20fc8f;
$lime-translucent: #20fc8f33;
$powder-blue: #d0e5ff;
$purple: #a74eff;
$eggshell: #ececec;
$smoke-white: #f7f7f7;
$snow-white: #fafafa;
$off-white: #fdfdfd;
$white: #ffffff;

// breakpoints
$breakpoint-lg: 992px;
