// colours
$black: #000000;
$charcoal: #3c3c3c;
$gunmetal: #181e2d;
$navy: #1a2234;
$grey: #8695aa;
$lime: #20fc8f;
$powder-blue: #d0e5ff;
$purple: #a74eff;
$eggshell: #ececec;
$off-white: #fdfdfd;
$white: #ffffff;
