@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
body {
    background: $off-white;
    color: $charcoal;
}
a {
    font-weight: 400;
    text-decoration: underline;
}
video, img {
    border: 1px solid $grey;
    max-width: 100%;
}
figcaption {
    background: $grey;
    color: white;
    font-size: 0.6rem;
    text-transform: uppercase;
}
