@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
body {
    background: $off-white;
    color: $charcoal;
}
a {
    font-weight: 400;
    text-decoration: underline;
}
figcaption {
    $border-radius: 3px;
    background: $smoke-white;
    border: 1px solid $light-grey;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $dark-grey;
    font-size: 0.6rem;
}
p, li {
    word-break: break-word;
}
